@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;700&family=Poppins:wght@300;400;500;600&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&family=Syne:wght@400;500;600;700;800&display=swap');

* {
    margin         : 0;
    padding        : 0;
    box-sizing     : border-box;
    text-decoration: none !important;
    list-style     : none;
    border         : none;
    outline        : none;
}

body {
    font-family: 'Roboto', serif;
}

/*OVERLAY*/

.overlay {
    z-index   : 1;
    position  : absolute;
    width     : 100%;
    height    : 100vh;
    background: antiquewhite;
    top       : 0%;
}

.overlay h1 {
    position      : absolute;
    top           : 50%;
    left          : 50%;
    transform     : translate(-50%, -50%);
    font-family   : 'Cinzel', serif;
    font-size     : 20px;
    font-weight   : bold;
    letter-spacing: 12px;
    text-transform: uppercase;
}

/*HEADER*/

header {
    height         : 100vh;
    background     : url('/img/hero.jpg') no-repeat 50% 50%;
    background-size: cover;
}

.wrapper {
    width          : 100%;
    display        : flex;
    justify-content: space-between;
    padding        : 30px 20px;
}

.wrapper .logo {
    color      : antiquewhite;
    font-family: 'Cinzel', serif;
    font-weight: 600;
    color      : antiquewhite;
    font-size  : 1.2rem;
    margin-left: 2%;
}

.wrapper nav {
    display        : flex;
    justify-content: center;
    align-items    : center;
    margin-right   : 2%;
}

.wrapper ul {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.wrapper ul li a {
    margin        : 0 15px;
    color         : antiquewhite;
    letter-spacing: 2px;
}

.wrapper .btn {
    color    : #fff;
    font-size: 25px;
    cursor   : pointer;
    display  : none;
}

.social-media {
    position : absolute;
    top      : 50%;
    transform: translateY(-50%);
}

.social-media ul li {
    color      : antiquewhite;
    padding-top: 20px;
}

.social-media ul li:hover {
    color : burlywood;
    cursor: pointer;
}

.side-strip {
    position      : absolute;
    top           : 50%;
    transform     : translateY(-50%);
    right         : -4em;
    transform     : rotate(90deg);
    color         : antiquewhite;
    letter-spacing: 4px;
    font-family   : 'Cinzel', serif;
}

.box-title {
    position : absolute;
    top      : 48%;
    left     : 46%;
    transform: translate(-50%, -50%);
}

.box-title h1 {
    color      : antiquewhite;
    font-size  : 2rem;
    font-family: 'Cinzel', serif;
}

.box-title p {
    color         : rgba(43, 42, 39, 0.959);
    font-weight   : 700;
    letter-spacing: 3px;
}

.box-title button {
    margin-top      : 12px;
    padding         : 16px 40px;
    background-color: antiquewhite;
    color           : black;
    letter-spacing  : 4px;
    font-weight     : 600;
    font-size       : 12px;
}

/*INFO*/

.info {
    padding-top   : 2em;
    padding-bottom: 2em;
    background    : #e69446;
}

.bottom-bar {
    color: antiquewhite;
}

.bottom-bar h6 {
    font-weight   : 600;
    text-transform: uppercase;
}

.bottom-bar p {
    font-size  : 14px;
    font-weight: lighter;
}

.row {
    padding      : .5em;
    background   : black;
    border-radius: 12px;
}

/*Sroll text GSAP*/

.marquee-section {
    background: url(../img/marquee-img-bg.jpg) no-repeat center center/cover;
}

.spacer {
    height: 300px;
}

.marquee {
    position      : relative;
    background    : #0f0f0f;
    color         : #eee;
    padding       : 30px 0;
    font-family   : 'Cinzel', serif;
    font-weight   : 600;
    font-size     : 40px;
    text-transform: uppercase;
    overflow      : hidden;
}

.marquee-inner {
    display       : flex;
    width         : fit-content;
    flex          : auto;
    flex-direction: row;
}

.marquee-part {
    display    : flex;
    align-items: center;
    flex-shrink: 0;
    padding    : 0 4px;
}

.arrow {
    width     : 60px;
    height    : 80px;
    margin    : 0 1em;
    color     : #eee;
    transform : rotate(360deg);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.arrow img {
    width: 80px;
}

.arrow.active {
    transform : rotate(-180deg);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*CONTACTO*/

.contact {
    background-color     : #0f0f0f;
    font-family          : 'Syne', sans-serif;
    font-weight          : 800;
    font-feature-settings: "pnum"on, "lnum"on;
}

.wrapp {
    position       : relative;
    display        : flex;
    align-items    : center;
    justify-content: center;
    z-index        : 1;
    width          : 100%;
    height         : 100vh;
}

.title {
    margin             : 0;
    font-size          : 2.5rem;
    text-transform     : uppercase;
    color              : transparent;
    letter-spacing     : 5px;
    -webkit-text-stroke: 1px antiquewhite;
}

.content {
    position : relative;
    max-width: 900px;
}

.content::before {
    position  : absolute;
    content   : '';
    width     : 2px;
    height    : calc(100% - 19px);
    top       : 19px;
    left      : -50px;
    background: linear-gradient(9deg, rgb(243, 188, 9) 0%, rgb(223, 73, 35) 86%);
}

.form {
    margin-top: 50px;
}

.form-item {
    position     : relative;
    max-width    : 100%;
    margin-bottom: 30px;
}

.form-input-text {
    width        : 100%;
    height       : 60px;
    padding-left : 40px;
    padding-right: 10px;
    font-size    : 16px;
    color        : antiquewhite;
    line-height  : 47px;
    border-radius: 5px;
    background   : none;
}

.form-label {
    position      : absolute;
    bottom        : 0;
    left          : 0;
    width         : 100%;
    height        : 100%;
    pointer-events: none;
}

.form-label-name {
    position        : absolute;
    left            : 40px;
    top             : 50%;
    color           : antiquewhite;
    font-size       : 14px;
    line-height     : .9;
    letter-spacing  : 2px;
    text-transform  : uppercase;
    transform       : translateY(-50%);
    transform-origin: left;
    transition      : cubic-bezier(.9, 0, .1, 1);
}

.form-label-sq {
    position  : absolute;
    width     : 20px;
    height    : 20px;
    top       : 50%;
    left      : 3px;
    opacity   : .4;
    background: linear-gradient(9deg, rgb(243, 188, 9) 0%, rgb(223, 73, 35) 86%);
    transform : translateY(-50%) rotate(-45deg);
    transition: 1s cubic-bezier(.9, 0, .1, 1);
}

.form-label-line {
    position      : absolute;
    width         : 100%;
    height        : 2px;
    bottom        : 2px;
    background    : linear-gradient(135deg, #242424 0%, #131313 100%);
    pointer-events: none;
    overflow      : hidden;
}

.form-label-bg {
    width     : 100%;
    height    : 100%;
    background: linear-gradient(9deg, rgb(243, 188, 9) 0%, rgb(223, 73, 35) 86%);
    transform : translateX(-110%);
    transition: 1s cubic-bezier(.9, 0, .1, 1);
}

.form-input-text:focus+.form-label .form-label-name,
.form-input-text:valid+.form-label .form-label-name {
    transform: translateY(-33px) scale(.7);
    color    : #ffffff50;
}

.form-input-text:focus+.form-label .form-label-bg,
.form-input-text:valid+.form-label .form-label-bg {
    transform: translateX(0%);
}

.form-input-text:focus+.form-label .form-label-sq,
.form-input-text:valid+.form-label .form-label-sq {
    opacity  : 1;
    transform: translateY(-50%) rotate(-405deg);
}

.form-btn {
    position      : relative;
    display       : block;
    width         : 100%;
    padding       : 15px 0;
    margin-top    : 10px;
    color         : antiquewhite;
    font-size     : 18px;
    font-weight   : 700;
    text-align    : center;
    cursor        : pointer;
    border-radius : 5px;
    background    : linear-gradient(135deg, #242424 0%, #131313 100%);
    overflow      : hidden;
    text-transform: uppercase;
}

.form-btn-txt {
    position      : relative;
    letter-spacing: 4px;
    pointer-events: none;
    transition    : 1s cubic-bezier(.9, 0, .1, 1);
    z-index       : 2;
}

.form-btn:hover .form-btn-txt {
    letter-spacing: 15px;
    color         : #0f0f0f;
}

.form-btn-bg {
    position      : absolute;
    height        : 100%;
    width         : 100%;
    top           : 0;
    left          : 0;
    pointer-events: none;
    transform     : translateX(-102%);
    background    : linear-gradient(9deg, rgb(243, 188, 9) 0%, rgb(223, 73, 35) 86%);
    transition    : 1s cubic-bezier(.9, 0, .1, 1);
    z-index       : 1;
}

.form-btn:hover .form-btn-bg {
    transform: translateX(0);
}

/*? Estilo para ocultar la flecha de incremento/decremento en campos de tipo número */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin            : 0;
}



/**---------------------------------------------------------------**/

/**MEDIA QUERIES**/

@media (max-width: 768px) {

    .wrapper .btn {
        display: block;
    }

    .wrapper .menu-btn {
        color       : antiquewhite;
        margin-right: 20px;
    }

    .wrapper .menu {
        position           : absolute;
        background         : #e69446;
        width              : 200px;
        height             : 100vh;
        top                : 0;
        right              : -100%;
        padding-right      : 10%;
        transition         : 0.8s;
        transition-property: right;
        z-index            : 10;
    }

    .wrapper .menu ul {
        flex-direction: column;
    }

    .wrapper .menu.active {
        right       : 0;
        margin-right: 0;
    }

    .wrapper .menu .close-btn {
        position : absolute;
        top      : 0;
        left     : 0;
        margin   : 5px;
        font-size: 35px;
        cursor   : pointer;

    }

    .wrapper .menu a {
        display  : block;
        font-size: 20px;
        margin   : 20px auto;
        padding  : 20px 15px;
        color    : antiquewhite;
    }
}