@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;700&family=Poppins:wght@300;400;500;600&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&family=Syne:wght@400;500;600;700;800&display=swap");

* {
    margin         : 0;
    padding        : 0;
    box-sizing     : border-box;
    text-decoration: none !important;
    list-style     : none;
    border         : none;
    outline        : none;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width     : 0.01rem;
    visibility: hidden;
}

body {
    font-family: "Roboto", serif;
    background : #e69446;
}

/*OVERLAY*/

.overlay {
    z-index   : 1;
    position  : absolute;
    width     : 100%;
    height    : 100vh;
    background: antiquewhite;
    top       : 0;
}

.overlay h1 {
    position      : absolute;
    top           : 50%;
    left          : 50%;
    transform     : translate(-50%, -50%);
    font-family   : "Cinzel", serif;
    font-size     : 30px;
    font-weight   : bold;
    letter-spacing: 12px;
    text-transform: uppercase;
}

/*HEADER*/

header {
    height         : 100vh;
    background     : url("/img/hero.jpg") no-repeat 50% 50%;
    background-size: cover;
    top            : 0;
    left           : 0;
}

.wrapper {
    width          : 100%;
    display        : flex;
    justify-content: space-between;
    align-items: center;
    padding        : 20px 20px;
}

.wrapper .logo {
    color      : antiquewhite;
    font-family: "Cinzel", serif;
    font-weight: 600;
    color      : antiquewhite;
    font-size  : 1.8rem;
    margin-left: 2%;
    z-index    : 2;
}

.wrapper nav {
    display        : flex;
    justify-content: center;
    align-items    : center;
    margin-right   : 2%;
}

.wrapper ul {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.wrapper ul li a {
    margin        : 0 15px;
    color         : antiquewhite;
    letter-spacing: 2px;
}

.wrapper .btn {
    color    : #fff;
    font-size: 25px;
    cursor   : pointer;
    display  : none;
}

.social-media {
    position : absolute;
    top      : 50%;
    transform: translateY(-50%);
}

.social-media ul li {
    color      : antiquewhite;
    padding-top: 50px;
}

.social-media ul li i {
    font-size : 25px;
    transition: 0.3s;
}

.social-media ul li i:hover {
    color    : rgb(250, 215, 57);
    font-size: 30px;
    cursor   : pointer;
}

.side-strip {
    position      : absolute;
    top           : 50%;
    transform     : translateY(-50%);
    right         : -4em;
    transform     : rotate(90deg);
    color         : antiquewhite;
    letter-spacing: 4px;
    font-family   : "Cinzel", serif;
    font-weight: 600;
}

.box-title {
    position : absolute;
    top      : 52%;
    left     : 46%;
    transform: translate(-50%, -50%);
}

.box-title h1 {
    color      : antiquewhite;
    font-size  : 2rem;
    font-family: "Cinzel", serif;
}

.box-title p {
    color      : #000;
    font-weight   : bold;
    letter-spacing: 3px;
    font-size       : 24px;
}

.box-title button {
    margin-top      : 12px;
    padding         : 16px 40px;
    background-color: antiquewhite;
    color           : black;
    letter-spacing  : 4px;
    font-weight     : 600;
    font-size       : 18px;
}

/*NOSOTROS*/

.about {
    padding-top   : 2em;
    padding-bottom: 2em;
    background    : #e69446;
}

.bottom-bar {
    color: antiquewhite;
}

.bottom-bar h6 {
    font-weight   : 600;
    text-transform: uppercase;
}

.bottom-bar p {
    font-size  : 14px;
    font-weight: lighter;
}

.row {
    padding      : 0.5em;
    background   : black;
    border-radius: 12px;
}

/*Scroll text GSAP*/

.marquee-section {
    background: url(../img/marquee-img-bg.jpg) no-repeat center center/cover;
}

.spacer {
    height: 300px;
}

.marquee {
    position      : relative;
    background    : #0f0f0f;
    color         : #eee;
    padding       : 30px 0;
    font-family   : "Cinzel", serif;
    font-weight   : 600;
    font-size     : 40px;
    text-transform: uppercase;
    overflow      : hidden;
}

.marquee-inner {
    display       : flex;
    width         : fit-content;
    flex          : auto;
    flex-direction: row;
}

.marquee-part {
    display    : flex;
    align-items: center;
    flex-shrink: 0;
    padding    : 0 4px;
}

.arrow {
    width     : 60px;
    height    : 80px;
    margin    : 0 1em;
    color     : #eee;
    transform : rotate(360deg);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.arrow img {
    width: 80px;
}

.arrow.active {
    transform : rotate(-180deg);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*DESTACADOS*/

.places {
    font-family: "Poppins", sans-serif;
    background : #191a19;
    width      : 100%;
    min-height : 100vh;
    padding-top: 20px;
}

.container-cards {
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-wrap      : wrap;
    gap            : 20px;
    margin-top     : 30px;
    padding-bottom : 50px;
}

.container-img {
    position     : relative;
    width        : 340px;
    height       : 250px;
    border-radius: 20px;
    border       : 3px solid antiquewhite;
    overflow     : hidden;
}

.card-img {
    width        : 100%;
    height       : 100%;
    object-fit   : cover;
    border-radius: 15px;
}

.card-body {
    position       : absolute;
    width          : 100%;
    height         : 100%;
    top            : 0;
    right          : -100%;
    background     : #1f3d4738;
    backdrop-filter: blur(5px);
    border-radius  : 15px;
    color          : antiquewhite;
    padding        : 20px;
    display        : flex;
    justify-content: center;
    flex-direction : column;
    transition     : 2s;
}

.container-img:hover .card-body {
    right: 0;
}

.card-title {
    text-transform: uppercase;
    font-size     : 30px;
    font-weight   : 600;
}

.card-sub-title {
    text-transform: capitalize;
    font-size     : 14px;
    font-weight   : 300;
}

.card-info {
    font-size  : 16px;
    font-weight: 500;
}

.card-btn {
    width         : 100px;
    color         : antiquewhite;
    background    : #191a19;
    padding       : 5px 8px;
    border-radius : 5px;
    font-size     : 14px;
    font-weight   : 500;
    text-transform: uppercase;
    cursor        : pointer;
}

/*GALERÍA*/

#gallery {
    background : #0f0f0f;
    font-family: "Cinzel", serif;
}

.wrapp-gallery {
    position: relative;
    width   : 100%;
    right   : 20px;
    height  : auto;
    padding : 30px;
    z-index : 1;
}

.gallery {
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-wrap      : wrap;
    width          : 100%;
    height         : auto;
    gap            : 60px;
    margin-top     : 2rem;
}

.gallery-item {
    position : relative;
    max-width: 350px;
    width    : 100%;
    height   : 500px;
    overflow : hidden;
    cursor   : pointer;
}

.gallery-img {
    display    : block;
    width      : 100%;
    height     : 100%;
    object-fit : cover;
    will-change: transform;
    transition : 0.8s cubic-bezier(0.9, 0, 0.1, 1);
}

.gallery-item:hover .gallery-img {
    transform: scale(1.3);
}

.gallery-item::after {
    position       : absolute;
    content        : "";
    width          : 100%;
    height         : 100%;
    top            : 0;
    left           : 0;
    opacity        : 0;
    backdrop-filter: blur(20px);
    background     : rgba(0, 0 0, 0.614);
    will-change    : opacity;
    pointer-events : none;
    z-index        : 2;
    transition     : 0.8s cubic-bezier(0.9, 0, 0.1, 1);
}

.gallery-item:hover::after {
    opacity: 1;
}

.zoom {
    display            : block;
    position           : absolute;
    top                : 50%;
    left               : 50%;
    opacity            : 0;
    font-size          : 40px;
    text-transform     : uppercase;
    will-change        : transform, opacity;
    pointer-events     : none;
    transform          : translate(-50%, -10%);
    -webkit-text-stroke: 1px antiquewhite;
    color              : transparent;
    font-weight        : 800;
    z-index            : 3;
    transition         : 0.8s cubic-bezier(0.9, 0, 0.1, 1);
}

.gallery-item:hover .zoom {
    opacity  : 1;
    transform: translate(-50%, -50%);
}

/*?Estilos FancyBox*/
.fancybox__backdrop::after {
    content            : "";
    position           : absolute;
    width              : 10%;
    height             : 10%;
    filter             : blur(2px);
    left               : 50%;
    top                : 50%;
    transform          : scale(11);
    opacity            : 0.3;
    background-image   : var(--bg-image);
    background-size    : cover;
    background-repeat  : no-repeat;
    background-position: center center;
}

.fancybox__toolbar {
    padding: 16px;
}

.fancybox__toolbar,
.fancybox__nav {
    --f-button-border-radius: 50%;
    --f-button-bg           : rgb(91 78 76 / 64%);
    --f-button-hover-bg     : rgb(91 78 76 / 74%);
    --f-button-active-bg    : rgb(91 78 76 / 84%);
}

.fancybox__nav {
    --f-button-svg-width : 22px;
    --f-button-svg-height: 22px;
}

.fancybox__thumbs.is-classic {
    --f-thumb-width : 48px;
    --f-thumb-height: 48px;
    --f-thumb-gap   : 16px;

    --f-thumb-border-radius: 6px;
    --f-thumb-outline      : 0;
}

/*CONTACTO*/

.contact {
    background-color     : #242424;
    font-family          : "Syne", sans-serif;
    font-weight          : 800;
    font-feature-settings: "pnum"on, "lnum"on;
}

.wrapp {
    position       : relative;
    display        : flex;
    align-items    : center;
    justify-content: center;
    z-index        : 1;
    width          : 100%;
    height         : 100vh;
}

.title {
    margin             : 0;
    font-size          : 2.5rem;
    text-transform     : uppercase;
    color              : transparent;
    letter-spacing     : 5px;
    -webkit-text-stroke: 1px antiquewhite;
    text-align         : center;
}

.content {
    position : relative;
    max-width: 900px;
}

.content::before {
    position  : absolute;
    content   : "";
    width     : 2px;
    height    : calc(100% - 19px);
    top       : 19px;
    left      : -50px;
    background: linear-gradient(9deg, rgb(243, 188, 9) 0%, rgb(223, 73, 35) 86%);
}

.form {
    margin-top: 50px;
}

.form-item {
    position     : relative;
    max-width    : 100%;
    margin-bottom: 30px;
}

.form-input-text {
    width        : 100%;
    height       : 60px;
    padding-left : 40px;
    padding-right: 10px;
    font-size    : 16px;
    color        : antiquewhite;
    line-height  : 47px;
    border-radius: 5px;
    background   : none;
}

.form-label {
    position      : absolute;
    bottom        : 0;
    left          : 0;
    width         : 100%;
    height        : 100%;
    pointer-events: none;
}

.form-label-name {
    position        : absolute;
    left            : 40px;
    top             : 50%;
    color           : antiquewhite;
    font-size       : 14px;
    line-height     : 0.9;
    letter-spacing  : 2px;
    text-transform  : uppercase;
    transform       : translateY(-50%);
    transform-origin: left;
    transition      : cubic-bezier(0.9, 0, 0.1, 1);
}

.form-label-sq {
    position  : absolute;
    width     : 20px;
    height    : 20px;
    top       : 50%;
    left      : 3px;
    opacity   : 0.4;
    background: linear-gradient(9deg, rgb(243, 188, 9) 0%, rgb(223, 73, 35) 86%);
    transform : translateY(-50%) rotate(-45deg);
    transition: 1s cubic-bezier(0.9, 0, 0.1, 1);
}

.form-label-line {
    position      : absolute;
    width         : 100%;
    height        : 2px;
    bottom        : 2px;
    background    : linear-gradient(135deg, #332f2f 0%, #464343 100%);
    pointer-events: none;
    overflow      : hidden;
}

.form-label-bg {
    width     : 100%;
    height    : 100%;
    background: linear-gradient(9deg, rgb(243, 188, 9) 0%, rgb(223, 73, 35) 86%);
    transform : translateX(-110%);
    transition: 1s cubic-bezier(0.9, 0, 0.1, 1);
}

.form-input-text:focus+.form-label .form-label-name,
.form-input-text:valid+.form-label .form-label-name {
    transform: translateY(-33px) scale(0.7);
    color    : #ffffff50;
}

.form-input-text:focus+.form-label .form-label-bg,
.form-input-text:valid+.form-label .form-label-bg {
    transform: translateX(0%);
}

.form-input-text:focus+.form-label .form-label-sq,
.form-input-text:valid+.form-label .form-label-sq {
    opacity  : 1;
    transform: translateY(-50%) rotate(-405deg);
}

.form-btn {
    position      : relative;
    display       : block;
    width         : 100%;
    padding       : 15px 0;
    margin-top    : 10px;
    color         : antiquewhite;
    font-size     : 18px;
    font-weight   : 700;
    text-align    : center;
    cursor        : pointer;
    border-radius : 5px;
    background    : linear-gradient(135deg, #332f2f 0%, #464343 100%);
    overflow      : hidden;
    text-transform: uppercase;
}

.form-btn-txt {
    position      : relative;
    letter-spacing: 4px;
    pointer-events: none;
    transition    : 1s cubic-bezier(0.9, 0, 0.1, 1);
    z-index       : 2;
}

.form-btn:hover .form-btn-txt {
    letter-spacing: 15px;
    color         : #0f0f0f;
}

.form-btn-bg {
    position      : absolute;
    height        : 100%;
    width         : 100%;
    top           : 0;
    left          : 0;
    pointer-events: none;
    transform     : translateX(-102%);
    background    : linear-gradient(9deg, rgb(243, 188, 9) 0%, rgb(223, 73, 35) 86%);
    transition    : 1s cubic-bezier(0.9, 0, 0.1, 1);
    z-index       : 1;
}

.form-btn:hover .form-btn-bg {
    transform: translateX(0);
}

/*? Estilo para ocultar la flecha de incremento/decremento en campos de tipo número */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin            : 0;
}

/*FOOTER*/

.content-inner {
    width  : 100%;
    margin : 0 0 50px 0;
    padding: 80px;
}

.fixed-footer {
    width   : 100%;
    height  : 350px;
    position: sticky;
    left    : 0;
    bottom  : 0;
    z-index : -100;
    overflow: hidden;
}

.nav-footer {
    display        : flex;
    justify-content: space-around;
}

.nav-footer li,
.nav-footer span {
    text-transform: uppercase;
    font-family   : "Cinzel", serif;
    font-weight   : 800;
    font-size     : 1rem;
    letter-spacing: 0.1px;
    line-height   : 30px;
}

.copyright {
    display        : flex;
    justify-content: space-around;
    flex-wrap      : wrap;
    font-family    : "Cinzel", serif;
    text-transform : uppercase;
    font-size      :1rem;
    font-weight    : 600;
    line-height    : 30px;
    opacity        : 0.8;
    margin         : 1rem 0 0 0;
}

/**---------------------------------------------------------------**/

/**MEDIA QUERIES**/

@media (max-width: 1024px) {
    .gallery {
        gap: 15px;
    }

    .gallery-item {
        max-width: 48%;
        height   : auto;
    }

    .gallery-img {
        max-height: 100%;
    }
}

@media (max-width: 768px) {

    .wrapper .btn {
        display: block;
    }

    .wrapper .menu-btn {
        color       : antiquewhite;
    }

    .wrapper .menu {
        position     : absolute;
        background   : #e69446;
        width        : 200px;
        height       : 100vh;
        top          : 0;
        left         : -100%;
        padding-right: 10%;
        transition   : opacity 1s ease-out, left 1s ease-out;
        opacity      : 0;
        z-index      : 10;
    }

    .wrapper .menu ul {
        flex-direction: column;
    }

    .wrapper .menu.active {
        left   : 0;
        opacity: 1;
    }

    .wrapper .menu .close-btn {
        position : absolute;
        top      : 0;
        left     : 0;
        margin   : 30px;
        font-size: 35px;
        cursor   : pointer;
    }

    .wrapper .menu a {
        display  : block;
        font-size: 20px;
        margin   : 15px auto;
        padding  : 20px 15px;
        color    : antiquewhite;
    }

    .wrapp-gallery {
        padding    : 30px;
        padding-top: 40px;
        right      : 10px;
    }

    .gallery-item {
        max-width: 100%;
        height   : auto;
    }

    .zoom {
        font-size: 24px;
    }

    html {
        font-size: 60%;
    }

    .nav-footer {
        gap: 2rem;
    }

    .copyright {
        text-align: center;
    }

    .spacer {
        height: 200px;
    }

    .marquee {
        padding  : 20px 0;
        font-size: 20px;
    }

    .arrow {
        width : 60px;
        height: 60px;
    }

    .arrow img {
        width: 60px;
    }

    .side-strip,
    .social-media {
        top: 48%;
    }

    .side-strip{
        font-size: 1.2rem;
        right: -6em;
    }

    .box-title {
        top: 52%;
    }

    .box-title p {
        letter-spacing: 3px;
        font-size       : 18px;
    }

    .social-media ul li i {
        font-size: 20px;
    }

    .social-media ul li i:hover {
        font-size: 25px;
    }

    .box-title button {
        padding: 12px 30px;
    }

    .form {
        margin-top: 20px;
    }

    .form-item {
        margin-bottom: 10px;
    }
}