@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    margin         : 0;
    padding        : 0;
    box-sizing     : border-box;
    text-decoration: none !important;
    list-style     : none;
    border         : none;
}

body {
    font-family: 'Poppins', sans-serif;
}

/*OVERLAY*/

.overlay {
    z-index   : 1;
    position  : absolute;
    width     : 100%;
    height    : 100vh;
    background: antiquewhite;
    top       : 0%;
}

.overlay h1 {
    position      : absolute;
    top           : 50%;
    left          : 50%;
    transform     : translate(-50%, -50%);
    font-size     : 20px;
    font-weight   : bold;
    letter-spacing: 12px;
    text-transform: uppercase;
}

/*HEADER*/

header {
    height         : 100vh;
    background     : url('/img/hero.jpg') no-repeat 50% 50%;
    background-size: cover;
}

.logo {
    line-height: 40px;
    float      : left;
    margin     : 1.2em 0 0 2.2em;
    font-weight: 600;
    color      : antiquewhite;
    font-size  : 1.2rem;
}

nav {
    line-height: 40px;
    margin     : 1.2em;
    position   : absolute;
    right      : 0;
}

nav ul li {
    display      : inline-block;
    padding-right: 36px;
}

nav ul li a {
    color: antiquewhite;
}

nav ul li a:hover {
    color: burlywood;
}

.social-media {
    position : absolute;
    top      : 50%;
    transform: translateY(-50%);
}

.social-media ul li {
    color      : antiquewhite;
    padding-top: 20px;
}

.social-media ul li:hover {
    color : burlywood;
    cursor: pointer;
}

.side-strip {
    position      : absolute;
    top           : 50%;
    transform     : translateY(-50%);
    right         : -4em;
    transform     : rotate(90deg);
    color         : antiquewhite;
    letter-spacing: 4px;
}

.box-title {
    position : absolute;
    top      : 48%;
    left     : 46%;
    transform: translate(-50%, -50%);
}

.box-title h1 {
    color      : antiquewhite;
    font-weight: 600;
}

.box-title p {
    color         : rgb(240, 49, 49);
    font-weight   : 700;
    letter-spacing: 3px;
}

.box-title button {
    margin-top      : 12px;
    padding         : 16px 40px;
    background-color: antiquewhite;
    color           : black;
    letter-spacing  : 4px;
    font-weight     : 600;
    font-size       : 12px;
}

/*INFO*/

.info {
    padding-top   : 2em;
    padding-bottom: 2em;
    background    : #e69446;
}

.bottom-bar {
    color: antiquewhite;
}

.bottom-bar h6 {
    font-weight   : 600;
    text-transform: uppercase;
}

.bottom-bar p {
    font-size  : 14px;
    font-weight: lighter;
}

.row {
    padding      : .5em;
    background   : black;
    border-radius: 12px;
}

.marquee-section {
    background: url(../img/marquee-img.jpg) no-repeat center center/cover;
}

.spacer {
    height: 300px;
}

.marquee {
    position: relative;
    background    : #0f0f0f;
    color         : #eee;
    padding       : 30px 0;
    font-weight   : 600;
    font-size     : 40px;
    text-transform: uppercase;
    overflow      : hidden;
}

.marquee-inner {
    display       : flex;
    width         : fit-content;
    flex          : auto;
    flex-direction: row;
}

.marquee-part {
    display    : flex;
    align-items: center;
    flex-shrink: 0;
    padding    : 0 4px;
}

.arrow {
    width     : 60px;
    height    : 80px;
    margin    : 0 1em;
    color     : #eee;
    transform : rotate(360deg);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.arrow img {
    width: 80px;
}

.arrow.active {
    transform : rotate(-180deg);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}